/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: "Roboto", sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #DFF7ED;
	border-bottom-style:dotted;
	border-bottom-color: #29A571;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #DFF7ED;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #29A571;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

.skill-list li::before {
	color: #29A571;
}
/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.language-name {
	font-size: 16px;
	font-weight: bolder;
	margin-left: 5px;
}
.text-center {
	font-style: oblique;
	font-weight: bolder;
	font-size: 12px;
}
h1 {
	font-family: "Nabla";
	font-color: mediumaquamarine;
}
.tagline {
	padding-left: 2px;
	font-weight: 550;
	font-size: 14px;
}
h2 {
	font-family: Montserrat;
	font-weight: bolder;
}
h4 {
	color: mediumaquamarine;
	font-weight:bolder;
	font-size: 20px;
}
h5{
	font-weight: bolder;
	font-size: 16px;
}
.language-progress {
	background-color: cadetblue !important
}
.skill-item {
	margin-left: 5px;
}